.screen1 {
    border-style: outset;
    border-width: 2px;
    margin-left: 25px 400px;
}

.screen2 {
    border-style: outset;
    border-width: 2px;
    margin: 25px 400px;
}

.screen3 {
    border-style: outset;
    border-width: 2px;
    margin: 25px 650px;
}

.add {
    background-color: #e7e7e7; color: black;
    position: absolute;
    right: 900px;
    top: 150px;
}